@import "tailwindcss";
@theme{
    --color-red-1: #390517;
    --color-red-2: #4E0720;
    --color-red-3: #650828;
    --color-red-4: #771336;
    --color-red-5: #9D1645;
    --color-red-6: #B12555;
    --color-red-7: #CE3B6E;

    --color-y-1: #A38560;
    --color-y-2: #B79871;
    --color-y-3: #D3B289;
    --color-y-4: #EACBA5;
    --color-y-5: #F9DBB6;
    --color-y-6: #F6DDC0;
    --color-y-7: #F6E4CE;

    --color-g-1: #16302B;
    --color-g-2: #1F423B;
    --color-g-3: #2F6057;
    --color-g-4: #3F8577;
    --color-g-5: #4A9587;
    --color-g-6: #5BBAA8;
    --color-g-7: #7FF7E0;

    --color-b-1: #03110D;
    --color-b-2: #181919;
    --color-b-3: #1A1D1C;
    --color-b-4: #313433;
    --color-b-5: #434544;
    --color-b-6: #5B5E5D;
    --color-b-7: #7B8381;

    --color-wh-1: #FFFFFF;
    --color-wh-2: #CDC6C6;
    --color-wh-3: #B9ADAD;
    --color-wh-4: #BAB7B7;
    --color-wh-5: #A7A5A5;
    --color-wh-6: #9C9C9C;
    --color-wh-7: #878080;
    --color-wh-8: #CDC6C652;
}
*{
    font-family: "poppins";
    scrollbar-width: none;
}